/* Universal Selector */
* {
    margin: 0;
    padding: 0;
}

/*Whole Header Display*/
.header {
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2f2f30fd;
    color: #589ff6;
    position: fixed;
    width: 100%;
    line-height: 20px;
    border-bottom: #b9ac15 solid 10px;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
    color: #b9ac15;
    border: 4px solid rgb(255, 255, 255);
    padding: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    border-radius: 10px;
}

/*Header Navigation Bar*/
.header nav {
    padding-top: 15px;
    margin-right: 30px;
    float: right;
    font-family: 'Times New Roman', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 25px;
}


.header ul li {
    display: inline-block;
    color: #ffffff;
    margin-left: 40px;
    padding-bottom: 5px;
    text-decoration: underline #b9ac15;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    border: #ffffff solid 3px;
    background-color: #000000;
    padding: 8px;
    border-radius: 15px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*Header Img*/
.header-img img {
    width: 100%;
    margin-bottom: 25px;
    border-bottom: #000000 solid 5px;
}

/*About Me Section*/
.About-Me {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    margin: 10px;
    margin-top: 0;
}

.About-Me h1 {
    display: inline-block;
    font-size: 40px;
    color: #b9ac15;
    border: 4px solid rgb(255, 255, 255);
    padding: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    border-radius: 10px;
}

.About-Me p {
    display: inline;
    text-align: right;

}

/*Main Content*/
.content {
    display: flexbox;
}

.content h1 {
    display: inline-block;
    font-size: 40px;
    color: #b9ac15;
    border: 4px solid rgb(255, 255, 255);
    padding: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    border-radius: 10px;
}

/*Footer Display*/
.footer {
    position: fixed 0;
    margin-top: 0;
    bottom: 0;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #120c80;
    color: #589ff6;
    border: 10px #b9ac15;
    width: 100%;
}

.footer h1 {
    display: inline-block;
    font-size: 30px;
    color: #120c80 padding: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer nav {
    padding-top: 15px;
    margin-left: 100px;
    width: 100%;
    float: right;
    font-family: 'Times New Roman', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.footer ul {
    list-style-type: none;
}

.footer ul li {
    display: inline-block;
    margin-left: 30px;
    padding-bottom: 5px;
    text-decoration: underline;
}